*{
    margin:0;
    padding:0;
}
.principal{
    display: flex;
    flex-wrap: wrap;
}
nav{
    width: 100%;
    display: flex;
    background-image: url(https://img.lovepik.com/background/20211021/large/lovepik-cool-line-technology-banner-background-image_400112106.jpg);
    align-items:center;
    border-top: 5px solid darkslateblue;
    border-right:5px solid darkslateblue ;
    border-left:5px solid darkslateblue ;
}
.imglog{
    width: 90px;
    height: 90px;
    border-radius: 60%;
    border: solid black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}
.menu{
    width:50%;
}
.logo1{
    width:100px;
    height:15px;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white; 
    border-radius: 20px; 
    font-weight: bold;
}
.log3{
   width:350px;
    height:13px;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: darkcyan; 
    border-radius: 20px; 
    border-color: deepskyblue ;
    font-weight: bold; 
}
.input1{
    width:100px;
    height:25px;
    background-color: lightblue;
    text-align: center;
    font-size: 15px;
    color: blue; 
    border-radius: 10px; 
    border-color: slateblue ;
    font-weight: bold; 
}
.nombreI{
    width:80px;
    height:10px;
    background-color: mediumblue;
    margin-left:21px;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    color: burlywood; 
    border-radius: 10px;
    font-weight: bold;
}
ul{
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
li{ 
    height: 25px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    border: solid slateblue;
    list-style: none;
    color: darkblue;
    font-weight: bold;
    background-color: lightblue;
    font-size: 20px;
}
.bienvenido{
    margin-left: 300px;
}
figure{
    width:100%;
    background-image: url(https://c8.alamy.com/compes/kjat98/antecedentes-la-economia-finanzas-banner-horizontal-para-los-negocios-economia-inversiones-temas-financieros-mercado-bursatil-graficos-y-datos-en-fondo-azul-kjat98.jpg) ;
    height: 320px;
    text-align: center;
    border-top: 5px solid darkslateblue;

}
.h1{
    -webkit-text-stroke: 1px red;
    margin-top: 40px;
    font-style:italic;
    font-weight:bold;
    font-size:5em;
     color: #2B0B7B;
  
}
.h2{
    -webkit-text-stroke: 2px darkblue;
     font-style:italic;
    font-weight:bold;
    font-size:5em;
    color: red;
    font-family: serif;

}
.h2sec{
    -webkit-text-stroke: 1px red;
     font-style:italic;
    font-weight:bold;
    font-size:2em;
    color: orange;
    font-family: serif;  
}

.conversor{
    width:60%;
    height:35px;
    background-color: lightskyblue;
    text-align: center;
    font-size: 19px;
    color: red; 
    border-radius: 10px;
    font-weight: bold;
    font-family: inherit;
}

.inputconver{
    width:160px;
    height:25px;
    background-color: ghostwhite;
    text-align: center;
    font-size: 15px;
    color: orange; 
    border-radius: 10px;
    font-weight: bold;
    font-family: inherit;
}

main{
    width:100%;
    background-image: url(https://besthqwallpapers.com/Uploads/10-11-2019/110694/thumb2-blue-stone-background-stone-texture-grunge-blue-background-creative-blue-texture.jpg);

}

article{
    width:200px;
    height:200px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-celeste_1077-3.jpg);
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.section2{

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: left;
}
.divmain{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
footer{
    width: 100%;
    background-image:url(https://www.xtrafondos.com/wallpapers/resoluciones/20/ciudad-por-la-noche-estilo-anime_3840x2160_5480.jpg) ;
    background-size: 100% 120%;
}



.caja{
    width: 200px;
    height: 250px;
    margin:10px;
    padding: 5px; 
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    background-image: url(https://st4.depositphotos.com/13349494/22261/i/600/depositphotos_222614744-stock-photo-dark-blue-splashes-of-alcohol.jpg);
    background-size: 100% 100%;
    text-align: center;
}
.caja2{
    width: 270px;
    height: 250px;
    margin:10px;
    padding: 5px; 
    border-radius: 10px;
    color: white;
    background-size: 100% 100%;
    

}
.imgim{
    width: 100px;
    height: 100px;
    border-radius: 20px;

}
.imgrs{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.h41{
    -webkit-text-stroke: 1px skyblue ;
     font-style:italic;
    font-weight:bold;
    font-size:1em;
    color: white ;
    font-family: serif;
}
.a2{
    color: white;
}